.markdown blockquote {
  border-left: 5px solid #787878;
  margin: 0;
  padding: 0 0 0 10px;
  background: #f2f2f2;
}
.markdown a {
  color: #1f71ce;
}
.markdown a:hover {
  text-decoration: underline;
}
.markdown h1 {
  color: #666;
  font-size: 2.2em;
  font-weight: 700;
}
.markdown h2 {
  color: #666;
  font-size: 2em;
  font-weight: 650;
}
.markdown h3 {
  color: #666;
  font-size: 1.8em;
  font-weight: 600;
}
.markdown h4 {
  color: #666;
  font-size: 1.6em;
  font-weight: 550;
}
.markdown h5 {
  color: #666;
  font-size: 1.4em;
  font-weight: 500;
}
.markdown h6 {
  color: #666;
  font-size: 1.2em;
  font-weight: 500;
}
.markdown img {
  padding: 1px;
  width: 100%;
  border: 1px solid #f2f2f2;
}
.markdown table:not(figure.highlight) {
  border: solid #f2f2f2;
  border-width: 1px 0 0 1px;
}
.markdown table:not(figure.highlight) thead {
  background: #f2f2f2;
}
.markdown table:not(figure.highlight) thead tr th {
  margin: 0;
  padding: 4px;
  border: solid #f2f2f2;
  border-width: 0 1px 1px 0;
}
.markdown table:not(figure.highlight) tbody tr {
  margin: 0;
}
.markdown table:not(figure.highlight) tbody tr td {
  padding: 4px;
  border: solid #f2f2f2;
  border-width: 0 1px 1px 0;
}
