.article-container .article-title h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
  font-size: 22px;
  margin: 0;
}
.article-container .article-title a {
  color: #666;
}
.article-container .meta-info {
  margin: 10px 0 20px 0;
}
.article-container .article-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.article-container .article-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #4786d6;
}
.article-container .article-content a:hover {
  color: #2f69b3;
}
.article-container .article-content h3 {
  color: #5f5f5f;
  font-size: 22px;
  font-weight: 600;
}
.article-container .article-content h4 {
  color: #5f5f5f;
  font-size: 16px;
}
.article-container .article-nav {
  height: 40px;
  margin: 30px 0;
}
.article-container .article-nav .article-prev {
  float: left;
}
.article-container .article-nav .article-next {
  float: right;
}
