:root {
  --background-color: #fcfcfc;
  --primary-color: #62bbbd;
  --first-text-color: #41404e;
  --second-text-color: #494857;
  --third-text-color: #817f96;
  --normal-text-color: #515061;
  --border-color: #d6d6d6;
  --selection-color: #6fc0c2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3a3a3a;
    --primary-color: #62bbbd;
    --first-text-color: #cfcfcf;
    --second-text-color: #c9c9c9;
    --third-text-color: #969696;
    --normal-text-color: #bbb;
    --border-color: #616161;
    --selection-color: #6fc0c2;
  }
}
.dark-mode {
  --background-color: #3a3a3a;
  --primary-color: #62bbbd;
  --first-text-color: #cfcfcf;
  --second-text-color: #c9c9c9;
  --third-text-color: #969696;
  --normal-text-color: #bbb;
  --border-color: #616161;
  --selection-color: #6fc0c2;
}
.light-mode {
  --background-color: #fcfcfc;
  --primary-color: #62bbbd;
  --first-text-color: #41404e;
  --second-text-color: #494857;
  --third-text-color: #817f96;
  --normal-text-color: #515061;
  --border-color: #d6d6d6;
  --selection-color: #6fc0c2;
}
.article-content-container .article-title h3 {
  font-weight: 600;
  font-size: 1.8em;
  margin: 0;
}
.article-content-container .article-title a {
  color: var(--second-text-color);
}
.article-content-container .meta-info {
  margin: 10px 0 30px 0;
}
.article-content-container .article-content {
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
}
.article-content-container .article-nav {
  height: 40px;
  margin: 40px 0;
}
.article-content-container .article-nav .article-prev {
  float: left;
}
.article-content-container .article-nav .article-next {
  float: right;
}
