:root {
  --background-color: #fdfdfd;
  --primary-color: #0b6ff0;
  --first-text-color: #3a3842;
  --second-text-color: #413f4a;
  --third-text-color: #787489;
  --normal-text-color: #44424e;
  --border-color: #d7d7d7;
  --selection-color: #398bf6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3a3a3a;
    --primary-color: #0b6ff0;
    --first-text-color: #cfcfcf;
    --second-text-color: #c9c9c9;
    --third-text-color: #969696;
    --normal-text-color: #bbb;
    --border-color: #616161;
    --selection-color: #398bf6;
  }
}
.dark-mode {
  --background-color: #3a3a3a;
  --primary-color: #0b6ff0;
  --first-text-color: #cfcfcf;
  --second-text-color: #c9c9c9;
  --third-text-color: #969696;
  --normal-text-color: #bbb;
  --border-color: #616161;
  --selection-color: #398bf6;
}
.light-mode {
  --background-color: #fdfdfd;
  --primary-color: #0b6ff0;
  --first-text-color: #3a3842;
  --second-text-color: #413f4a;
  --third-text-color: #787489;
  --normal-text-color: #44424e;
  --border-color: #d7d7d7;
  --selection-color: #398bf6;
}
.category-container .category-name {
  color: var(--second-text-color);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 32px;
}
