.home-container .article-post-list .article-post-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.home-container .article-post-list .article-post-item .article-post-title h3 {
  font-weight: 600;
  color: #666;
  font-size: 22px;
  margin: 0;
}
.home-container .article-post-list .article-post-item .article-post-title a {
  color: #666;
}
.home-container .article-post-list .article-post-item .article-post-content {
  padding: 15px 0;
  line-height: 2em;
}
.home-container .paginator {
  padding-bottom: 40px;
}
.home-container .paginator .page-number {
  display: none !important;
}
.home-container .paginator a.prev {
  float: left;
}
.home-container .paginator a.next {
  float: right;
}
