.page-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
}
.page-container .page-left {
  float: left;
  width: 30%;
  height: 100%;
  position: fixed;
}
.page-container .page-right {
  float: right;
  width: 70%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 960px) {
  .page-container .page-left {
    display: none !important;
  }
  .page-container .page-right {
    width: 100% !important;
  }
}
