:root {
  --background-color: #fdfdfd;
  --primary-color: #f05026;
  --first-text-color: #42414f;
  --second-text-color: #4b4959;
  --third-text-color: #838097;
  --normal-text-color: #535163;
  --border-color: #d7d7d7;
  --selection-color: #f15e37;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3a3a3a;
    --primary-color: #f05026;
    --first-text-color: #cfcfcf;
    --second-text-color: #c9c9c9;
    --third-text-color: #969696;
    --normal-text-color: #bbb;
    --border-color: #616161;
    --selection-color: #f15e37;
  }
}
.dark-mode {
  --background-color: #3a3a3a;
  --primary-color: #f05026;
  --first-text-color: #cfcfcf;
  --second-text-color: #c9c9c9;
  --third-text-color: #969696;
  --normal-text-color: #bbb;
  --border-color: #616161;
  --selection-color: #f15e37;
}
.light-mode {
  --background-color: #fdfdfd;
  --primary-color: #f05026;
  --first-text-color: #42414f;
  --second-text-color: #4b4959;
  --third-text-color: #838097;
  --normal-text-color: #535163;
  --border-color: #d7d7d7;
  --selection-color: #f15e37;
}
.tag-container .tag-name {
  color: var(--second-text-color);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 32px;
}
