.site-info {
  padding: 20px;
  text-align: center;
}
.site-info .info-item {
  margin: 5px 0;
}
.site-info .avatar {
  padding: 2px;
  border-radius: 5%;
  border: 1px solid #f2f2f2;
  width: 120px;
}
.site-info .title {
  text-transform: uppercase;
}
.site-info .title a {
  color: #565656;
  font-size: 28px;
  font-weight: bold;
}
.site-info .description {
  padding: 10px;
  font-size: 16px;
}
.site-info .links-of-author-warp ul.links-of-author-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-info .links-of-author-warp ul.links-of-author-list li.links-of-author-item {
  float: left;
  margin: 0 5px;
}
.site-info .cc-license-container .cc-opacity {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  opacity: 0.7;
}
.site-info .cc-license-container .cc-opacity:hover {
  opacity: 1;
}
